$def with ()

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <!-- Meta tags that set up the page as a mobile page   -->
    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/m/images/iphone.png" />
    <meta name="format-detection" content="telephone=no" />

    <!-Script that scrolls page up to the top -->
    <script type="text/javascript">
        window.scrollTo(0,1);
    </script>
<title>Home Audio</title>
</head>

<a href="./pandora"><img src="./images/pandora.png" width="45%"></a>
<a href="./airplay"><img src="./images/airplay.jpg" width="45%"></a>

</body>
</html>